/* Full Screen Background */
.login-wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #6a11cb, #2575fc);
}

/* Login Card */
.login-card {
  background: #ffffff;
  padding: 40px;
  width: 350px;
  border-radius: 15px;
  text-align: center;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  animation: fadeIn 0.5s ease-in-out;
}

/* Logo Styling */
.login-logo {
  width: 180px;
  height: auto;
  object-fit: contain;
  margin-bottom: 20px;
}


/* Title */
.login-card h1 {
  font-size: 22px;
  margin-bottom: 5px;
  color: #333;
}

/* Subtitle */
.sub-text {
  font-size: 13px;
  margin-bottom: 20px;
  color: #777;
}

/* Input Fields */
.login-card input {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border-radius: 8px;
  border: 1px solid #ddd;
  outline: none;
  transition: 0.3s;
}

.login-card input:focus {
  border-color: #6a11cb;
  box-shadow: 0 0 5px rgba(106, 17, 203, 0.3);
}

/* Login Button */
.login-btn {
  width: 100%;
  padding: 12px;
  background: linear-gradient(135deg, #6a11cb, #2575fc);
  border: none;
  border-radius: 8px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

.login-btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

/* Animation */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
